.card-block {
  background: #ffffff;
  border: 2px solid #757575;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.8), 0 0px 0px 0 rgba(0, 0, 0, 0.11), 0 0px 4px 0.01px rgba(0, 0, 0, 0.05);
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
