
<div class="wrapper">
  <form (submit)="onSubmit(postForm)" #postForm="ngForm">
    <h1>Post</h1>
    <h5>Introducir los datos obligatorios (*)</h5>
    <hr class="linea">
    <div class="group">
      <!-- <input type="text" required="required"
             [(ngModel)]="enteredTitle" name="title"/> -->
      <input type="text"
             name="title"
             ngModel
             minlength="3"
             required
             #title="ngModel"/>
      <span class="highlight"></span><span class="bar"></span>
      <label>Titulo o Asunto</label>
      <div style="border-top: 2px solid #F44336; color: transparent;"
           *ngIf="title.invalid" >Error mensaje</div>
      <!-- <div style="border-top: 2px solid #F44336; color: transparent;"
           *ngIf="postForm.getControl('title').invalid" >Error mensaje</div> -->
    </div>
    <div class="group">
      <textarea type="textarea" rows="6"
                name="content"
                ngModel
                required
                #content="ngModel"></textarea>
      <span class="highlight"></span><span class="bar"></span>
      <label>Descripción</label>
      <div style="border-top: 2px solid #F44336; color: transparent;"
           *ngIf="content.invalid" >Error mensaje</div>
    </div>
    <div class="btn-box">
      <!-- <button class="btn btn-submit" type="submit"
              (click)="onSubmit()">
        Enviar</button> -->
          <button class="btn btn-submit" type="submit" name="submit">
            Enviar</button>
    </div>
  </form>
</div>
